

.user-profile {
  margin: 0 auto;
  text-align: center;
  padding-top: 15vh;
}

.profile-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}

.your-bookings {
  padding-top: 15vh ;
  padding-right: 20%;
  margin-bottom: 10%;
}

.booking-card  {
  margin: 5%;
}

.row.my-pets {

  padding: 10%;
  padding-top: 5%;
}

.row.one {

}

