

#pet-book.form-inputs {
  padding: 0;
}

.content-pet {
  margin: 0 auto;
  background-color: #fff;
  margin-bottom: 0;
  padding-bottom: 10%;

}

.pet-info {
  padding: 10%;
  border-radius: 5%;
  background-color: #353535;
  margin-top: 10%;
  color: #fff;
}

.pet-booking {

  padding: 10%;
  margin-top: 0;

}

.show-btn {
  margin-left: 0;
}

.reviews {
  margin-top: 10%;
  margin-bottom: 5%;
}

