.btn {
  background: #ffcd69;
  background-image: -webkit-linear-gradient(top, #ffcd69, #ffa85c);
  background-image: -moz-linear-gradient(top, #ffcd69, #ffa85c);
  background-image: -ms-linear-gradient(top, #ffcd69, #ffa85c);
  background-image: -o-linear-gradient(top, #ffcd69, #ffa85c);
  background-image: linear-gradient(to bottom, #ffcd69, #ffa85c);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 13px;
  padding: 5px 22px 5px 22px;
  text-decoration: none;
}

.btn:hover {
  text-decoration: none;
}
