.form-control {
  padding-top: 0px;
}

.form {
  margin-top: 10px;
  padding-top: 10px;
}

.search-bar {
   margin-left: 50px;

}

.search-bar input {
  height: 30px;
  width: 33vw;
  color: orange;
  font-family: 'Droid Serif', serif;

}


::-webkit-input-placeholder {
   font-style: italic;
   font-family: 'Droid Serif', serif;
}
